*{
    margin:0px;
    padding:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    width: 100%;
    padding:30px 100px;
    text-align: center;
}

form{
    display: inline-block;
    width: 23%;
    border:1px solid silver;
    padding:40px;
    margin:1%;
}

h1{
    font-size:26px;
}

p{
    font-size:12px;
}

.gold{
    text-align: left;
    margin:1%;
}

.list{
    overflow: scroll;
    height:120px;
    border:1px solid silver;
}